

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.pulse {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
  width: 120px;
  height: 30px;
  border-radius: 50px;
  border: none;
  font-family: 'Heebo', sans-serif;
  font-weight: bold;
  font-size: .77em;
  letter-spacing: .1rem;
  cursor: pointer;
  background: white;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(152, 255, 209, 0.7);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}
